{
  "presets": [
    "minify"
  ],
    "plugins": [
       "@babel/transform-arrow-functions",
       "@babel/transform-shorthand-properties",
       "@babel/transform-block-scoping",
       "transform-remove-console"
    ]
}
